PORT=3000
DATABASE_URL=postgres://usuario:senha@host.neon.tech/neondb?sslmode=require
DATABASE_SSL=true
JWT_SECRET=troque-esta-chave-em-producao
JWT_EXPIRES_IN=7d
AUTO_RUN_MIGRATIONS=true

ADMIN_EMAIL=admin@email.com
SUBSCRIPTION_AMOUNT=1
SUBSCRIPTION_DAYS=30
PUBLIC_BASE_URL=https://seu-app.onrender.com
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
PAYMENT_FALLBACK_URL=
